body {
      font-family: sans-serif;
      text-align: center;
    }

    .welcome {
      color:#086A87;
      background-color:#F5ECCE;
      padding:16px;
    }
    
    .thisisthehub {
      color:#0489B1;
      background-color:#F3E2A9;
      padding:16px;
    }
    
    .whatwehave {
      color:#01A9DB;
      background-color:#F5DA81;
      padding:16px;
    }

    .buttons img {
      width: 150px
     }
    
    
    .dadslist {
      color:brown;
      background-color:#BDBDBD;
      padding:20px;
      border-radius:10px;
    }
    
    .artgallery {
      background-color:#A9F5E1;
      border-radius:10px;
      padding:20px;
      color:#848484;
    }
    
    .thisisthegallery {
      color:#848484;
    }

    .pictureoffoods {
      width:275px
    }

    .beefyfoods {
      list-style-position: inside;
    }
    
    .roast {
      font-family:sans-serif;
      font-weight:bold;
    }
